In [6]:
import os
import pandas as pd

In [35]:
dir_cetesb = 'data\cetesb'
cetesb_files = os.listdir(dir_cetesb)

['cetesb_1-Parque D.Pedro II.csv',
 'cetesb_17-Osasco.csv',
 'cetesb_27-Pinheiros.csv',
 'cetesb_29-Grajaú-Parelheiros.csv',
 'cetesb_33-Itaim Paulista.csv',
 'cetesb_36-Marg.Tietê-Pte Remédios.csv',
 'cetesb_40-Guarulhos-Pimentas.csv',
 'cetesb_41-Campinas-Taquaral.csv',
 'cetesb_48-Paulínia-Sta Terezinha.csv',
 'cetesb_56-S.José Campos-Jd.Satelite.csv',
 'cetesb_58-Taubaté.csv',
 'cetesb_62-Guaratinguetá.csv',
 'cetesb_64-Limeira.csv',
 'cetesb_7-São Caetano do Sul.csv',
 'cetesb_74-Jundiaí.csv',
 'cetesb_77-Piracicaba.csv',
 'cetesb_8-Congonhas.csv',
 'cetesb_80-São José do Rio Preto.csv',
 'cetesb_83-Santos-Ponta da Praia.csv',
 'cetesb_84-Ribeirão Preto.csv']

In [67]:
def otif_cetesb(station):
    df = pd.read_csv(f"{dir_cetesb}\{station}")
    df.rename(columns={
        'MP10 µg/m³|Média  horária': 'MP10_hourly_mean',
        'MP10 µg/m³|Média  24 h': 'MP10_daily_mean', 
        'MP10 µg/m³|Índice /  Qualidade': 'MP10_index',
        'MP2.5 µg/m³|Média  horária': 'MP25_hourly_mean', 
        'MP2.5 µg/m³|Média  24 h': 'MP25_daily_mean',
        'MP2.5 µg/m³|Índice /  Qualidade': 'MP25_index'
    }, inplace=True)
    df.loc[df['Hora']=='24:00','Hora'] = '0:00'
    df['station_time'] = pd.to_datetime(df['Data']+' '+df['Hora'])
    theoretical_data_size = len(pd.date_range(start=df['station_time'].min(), end=df['station_time'].max(), freq='h'))     

    data = {
        'station': df['station_name'][0],
        'name_file': station,
        'otif_MP10': len(df['MP10_index'].dropna())/theoretical_data_size,
        'otif_MP25': len(df['MP25_index'].dropna())/theoretical_data_size,
    }

    return data

In [68]:
df_otif = pd.DataFrame([
    otif_cetesb(info_cetesb)
    for info_cetesb in cetesb_files
    ])
df_otif

,station,name_file,otif_MP10,otif_MP25
0,Parque D.Pedro II,cetesb_1-Parque D.Pedro II.csv,0.824208,0.360889
1,Osasco,cetesb_17-Osasco.csv,0.857944,0.309931
2,Pinheiros,cetesb_27-Pinheiros.csv,0.468278,0.575389
3,Grajaú-Parelheiros,cetesb_29-Grajaú-Parelheiros.csv,0.801347,0.738625
4,Itaim Paulista,cetesb_33-Itaim Paulista.csv,0.726014,0.402667
5,Marg.Tietê-Pte Remédios,cetesb_36-Marg.Tietê-Pte Remédios.csv,0.852806,0.791653
6,Guarulhos-Pimentas,cetesb_40-Guarulhos-Pimentas.csv,0.437861,0.464861
7,Campinas-Taquaral,cetesb_41-Campinas-Taquaral.csv,0.530875,0.000000
8,Paulínia-Sta Terezinha,cetesb_48-Paulínia-Sta Terezinha.csv,0.247153,0.131014
9,S.José Campos-Jd.Satelite,cetesb_56-S.José Campos-Jd.Satelite.csv,0.524681,0.527167
10,Taubaté,cetesb_58-Taubaté.csv,0.525514,0.451611
11,Guaratinguetá,cetesb_62-Guaratinguetá.csv,0.320139,0.212403
12,Limeira,cetesb_64-Limeira.csv,0.447708,0.104028
13,São Caetano do Sul,cetesb_7-São Caetano do Sul.csv,0.821278,0.247681
14,Jundiaí,cetesb_74-Jundiaí.csv,0.858833,0.162028
15,Piracicaba,cetesb_77-Piracicaba.csv,0.828819,0.830306
16,Congonhas,cetesb_8-Congonhas.csv,0.854819,0.827014
17,São José do Rio Preto,cetesb_80-São José do Rio Preto.csv,0.858597,0.821986
18,Santos-Ponta da Praia,cetesb_83-Santos-Ponta da Praia.csv,0.864583,0.854278
19,Ribeirão Preto,cetesb_84-Ribeirão Preto.csv,0.306000,0.298167

In [69]:
df_otif[df_otif['otif_MP10']>=0.8].reset_index(drop=True)

,station,name_file,otif_MP10,otif_MP25
0,Parque D.Pedro II,cetesb_1-Parque D.Pedro II.csv,0.824208,0.360889
1,Osasco,cetesb_17-Osasco.csv,0.857944,0.309931
2,Grajaú-Parelheiros,cetesb_29-Grajaú-Parelheiros.csv,0.801347,0.738625
3,Marg.Tietê-Pte Remédios,cetesb_36-Marg.Tietê-Pte Remédios.csv,0.852806,0.791653
4,São Caetano do Sul,cetesb_7-São Caetano do Sul.csv,0.821278,0.247681
5,Jundiaí,cetesb_74-Jundiaí.csv,0.858833,0.162028
6,Piracicaba,cetesb_77-Piracicaba.csv,0.828819,0.830306
7,Congonhas,cetesb_8-Congonhas.csv,0.854819,0.827014
8,São José do Rio Preto,cetesb_80-São José do Rio Preto.csv,0.858597,0.821986
9,Santos-Ponta da Praia,cetesb_83-Santos-Ponta da Praia.csv,0.864583,0.854278

In [70]:
df_otif[df_otif['otif_MP25']>=0.8].reset_index(drop=True)

,station,name_file,otif_MP10,otif_MP25
0,Piracicaba,cetesb_77-Piracicaba.csv,0.828819,0.830306
1,Congonhas,cetesb_8-Congonhas.csv,0.854819,0.827014
2,São José do Rio Preto,cetesb_80-São José do Rio Preto.csv,0.858597,0.821986
3,Santos-Ponta da Praia,cetesb_83-Santos-Ponta da Praia.csv,0.864583,0.854278